.page {
  position : relative;
  top : 0;
  bottom: 0;
  width: 70%;
  
  max-width: 1000px;
  padding:  0 50px;
  
  left: 50%;  
  transform : translate(-50%, 0);

  background-color: #f7f7f7 ;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.titleprotein{
  margin-top : 87px;
  font-size :26px;
  font-weight: 700;
  color: #262626;
}

.contentWrap{
  margin-top: 26px;
  flex : 1;
}

.inputTitle{
  font-size :12px;
  font-weight: 600;
  color: #262626;
}
.inputWrap{
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}
.inputWrap:focus-within{
  border: 1px solid lightseagreen;
}

.input{
  width: 100%;
  outline:none;
  border:none;
  height:17px;
  font-size: 14px;
  font-weight: 400;
}

.errorMessageWrap{
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}
.bottomButton{
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 700;
  background-color: lightseagreen;
  border-radius: 64px;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;

}

.bottomButton:disabled{
  background-color: #dadada;
  color: white;
}
.prediction_page{
  position : relative;
  top : 0;
  bottom: 0;
  width: 70%;
  
  max-width: 1000px;
  padding:  0 30px;
  
  left: 50%;  
  transform : translate(-50%, 0);

  background-color: #f7f7f7 ;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.refer-title{
  margin-top : 87px;
  font-size :26px;
  font-weight: 700;
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
}
.title-N1{
  margin-top : 87px;
  font-size :30px;
  font-weight: 700;
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
}
.title-N1{
  
  font-size :20px;
  font-weight: 700;
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
}
.english-protein-explaination{

  font-size :20px;
  font-weight: 700;
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
}
.korean-protein-expaination{
  font-size :20px;
  font-weight: 700;
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
}
.peptide_img{
  width: 100%;

  margin: auto;
  display: block;
  float: left;
}
.amino_img{
  width: 100%;

  margin: auto;
  display: block;
  float: left;
}
.protein_kind{
  font-size :20px;
  font-weight: 700;
  color: #262626;
  font-family:Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
.process_img{
  width: 100%;

  margin: auto;
  display: block;
}
.img_title{
 font-size : 15px;
 font-weight : 300;
 color:#262626;
 font-family: 'SUITE-Regular';
}