* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: darkgreen;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title{
    font-size: 2rem;
}

.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

/* .nav li.active{
    background-color: darkolivegreen;
} */

.nav a.active{
  background-color: darkolivegreen;

}

.nav li:hover{
    background-color: #777;
}

.AboutImg{
    
    width: 60%;

    margin: auto;
    display: block;
}
.WordHome{
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}
.WordRefer{
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.ProteinImg{
    width: 60%;

    margin: auto;
    display: block;
}
.Site-explaining{
    margin: 100px;
    padding: 10px;
    font-size: 20px;
    color: #353535;
    font-family:  "NanumSquare", sans-serif;
    text-rendering: optimizeLegibility;
}
.contents {
    width: 100%;
    height: 1000px;
    background-color: blanchedalmond;
  }
  
  .nav {
    height: 80px;
    overflow: hidden;
    transition: 0.25s ease-in-out;
  }
  
  .nav:hover {
    height: 200px;
    cursor: pointer;
  }
  
  .nav .navContainer {
    height: 80px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  /* .nav .navContainer .active {
    background-color: rgb(3, 51, 90);
    color: white;
  } */
  
  .nav .navContainer .none {
    background-color: none;
  }
  
  .nav .navContainer li {
    width: 200px;
    height: 100%;
    list-style-type: none;
    font-size: 19px;
    color: rgb(3, 51, 90);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav .navContainer li p {
    margin: 0;
  }
 
  
  .nav .navContainer li{
    display: flex;
  overflow: hidden;
}
  
.prediction_nav{
  background-color: #948534;
  color: rgb(6, 5, 2);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  list-style-type: none;
  height: 50px;
  border-radius: 30px;
}

.prediction_nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  
}

.prediction_nav li.active{
  background-color: darkolivegreen;

}

.prediction_nav li:hover{
    background-color: #777;
}